* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  list-style: none;
}

.container {
  width: 80%;
  height: 10vh;
  margin: 1em auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff159;
  border: 1px solid grey;
  border-radius: 10px;
  margin-bottom: 3em;
}

.header-content {
  width: 100%;
  margin: auto;
}
.search-form {
  width: 80%;
  max-width: 600px;
  display: flex;
  margin: 0 auto;
}

.search-input {
  width: 100%;
  min-width: 200px;
  flex-grow: 1;
  border: 1px solid grey;
  border-radius: 5px;
  padding-left: 1em;
}
.search-button {
  padding: 12px 35px;
  margin-left: 2em;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 800px) {
  .container {
    height: 20vh;
  }
  .header-content {
    width: 80%;
    margin: auto;
  }

  .search-input {
    min-width: 100px;
    padding: 1em;
  }

  .search-form {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .search-button {
    width: 100%;
    max-width: 150px;
    padding: 0.5em;
    margin-top: 1em;
    margin-left: 0;
  }
}

.content {
  width: 60%;
  margin: 0 auto;
}

.results {
  margin-top: 3em;
}

.result-item {
  display: flex;
  margin-bottom: 2em;
  border: 2px solid;
  border-radius: 5px;
  padding: 1em;
}

.result-item-img {
  width: 128px;
  height: 128px;
}

.result-item-content {
  flex-grow: 1;
  padding: 0 1em;
}

.result-item-price {
  font-size: 1.5em;
  color: #431bb3;
  font-weight: bold;
  padding: 1em;
  min-width: 150px;
}
.result-item-title {
  font-size: 1em;
}

.result-item-state {
  font-size: 1em;
  margin-top: 1em;
}
.result-item-counter {
  font-size: 0.8em;
  margin-top: 2em;
}

@media (max-width: 800px) {
  .content {
    width: 80%;
    margin: 0 auto;
  }

  .result-item {
    flex-direction: column;
    align-items: center;
  }

  .result-item-title {
    margin-top: 1em;
  }

  .state-sold-container {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
  }

  .result-item-counter {
    font-size: 1em;
    margin-top: 0;
  }

  .result-item-state {
    font-size: 1em;
    margin-top: 0;
  }
}
